@using SocialNetwork.Core.Application.ViewModels.FriendShip;
@model FriendShipSaveViewModel;
@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Quieres eliminar este amigo?
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="FriendShip" asp-action="DeletePost">
                        <div class="mb-3">
                            <input class="form-control" type="hidden" asp-for="Id" value = "@Model.Id" rows="4">
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </div>
                        <a asp-controller="FriendShip" asp-action="Friends" class="btn btn-info">Volver</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
