@using SocialNetwork.Core.Application.ViewModels.User;
@model List<UserViewModel>;
@{
    ViewData["Title"] = "Index";
}

<div class="container justify-content-center align-items-center">
    <div class="profile-page tx-13 ">
        <div class="row">
            <div class="col-12 grid-margin">
            <div class="d-none d-xl-block col-xl-3 right-wrapper">
                <div class="row">
                    @if (Model == null || Model.Count < 0)
                    {
                        <h6>No hay usuarios con ese username</h6>
                    }
                    else
                    {
                        <div class="col-md-12 grid-margin">
                            <div class="card rounded">
                                <div class="card-body">
                                    <h6 class="card-title">Usuarios encontrados:</h6>
                                    @foreach (var item in Model.Take(10))
                                    {
                                        <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
                                            <div class="d-flex align-items-center hover-pointer">
                                                <img class="img-xs rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                                                <div class="ml-2">
                                                    <p>@item.Username</p>
                                                </div>
                                            </div>
                                            <a asp-controller="FriendShip" asp-action="Follow" class="btn btn-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus" data-toggle="tooltip" title="" data-original-title="Connect">
                                                    <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                                    <circle cx="8.5" cy="7" r="4"></circle>
                                                    <line x1="20" y1="8" x2="20" y2="14"></line>
                                                    <line x1="23" y1="11" x2="17" y2="11"></line>
                                                </svg>
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- right wrapper end -->
            </div>
        </div>
    </div>
</div>
</div>

